/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  height: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}

.topBanner {
  font-size: 20px;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .topBannerTitle {
    font-size: 40px;
  }
}

.topBannerTitleText {
  background: linear-gradient(
    90deg,
    rgb(131 58 180 / 100%) 0%,
    rgb(253 29 29 / 100%) 50%,
    rgb(252 176 69 / 100%) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerTitleText:hover {
  border-bottom: solid 2px;
  border-color: rgb(152 0 255);
}

html[data-theme='dark'] .topBannerTitleText {
  background: linear-gradient(
    90deg,
    rgb(152 0 255) 0%,
    rgb(246 41 41) 50%,
    rgb(255 169 8) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerDescription {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .topBannerDescription {
    font-size: 16px;
    white-space: normal;
  }
}